body{
    background-image: url('../images/bg_pattern.gif');
    background-repeat: repeat-y;
    background-size: cover;
}
#myTodoApp{
    color: white;
    text-align: center !important;
}
.container-fluid{
    margin-top: 2rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content{
    box-sizing: border-box;
    width:25rem;
    height:32rem;
    background-color: rgb(194, 193, 191);
    padding: 1rem;
    overflow: auto;
}
.main-content h2{
    color: black;
}
#todo-input{
    border: none !important;
    outline: none !important;  
}
#todo-input:focus{
    outline:none;
    border:none;
}
#list-item{
    color: black;
    list-style-type: none;
    margin-left:0;
}
.fa-check,.fa-pen,.fa-trash{
    font-size: 0.9rem;
    color: white;
}